/* #gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px 20px;
}

.imgCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px black solid;
}
*/
#modalImg {
    max-width: 80%;
    object-fit: scale-down;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: table; */
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    height: 700px;
    max-height: 90%;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px 20px 20px 20px;
}

.modal-default-button {
    float: right;
}

#commentForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#commentSubmit {
    width: 200px;
}

#modal-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#cardImage {
    max-height: 300px;
    object-fit: contain;
}

#seeMore {
    margin: 20px 20px;
}
